.Login {
    display: inline-block;
    height: 65vh;
    margin-bottom: 20vh;
    }

.login-container {
    align-items: center;
    background: var(--background-gradient);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 700;
    height: 100%;
    overflow: hidden;
    padding: 30px;
    width: calc(var(--width)*2);
}

.connection-cat {
    width: 60%;
}

.container-off {
    display: none;
}

.container-on {
    display: flex;
    flex-direction: column;
}

.valid-button {
    padding: 10px var(--padding-margins);
    border-radius: var(--border-radius);
    background: var(--main-color-1);
    color: var(--main-color-2);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    cursor:pointer;
    border:0;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
}

.light-button {
    background: none;
    border:0;
    cursor:pointer;
    text-align: center;
    margin-top: 10px;
}

.input-visual {
    background-color: var(--background-gradient);
    border-color: var(--main-color-1);
    border-radius: 5px;
    margin: 10px 20px 10px 10px;
    padding: 5px;
    text-align: center;
    width: 250px;
}

.Login input:focus { 
    background-color: var(--main-color-2);
    border-color: var(--main-color-1);
    outline: none;
}

.Login input-visual:focus::placeholder {
    color: transparent;
    outline: none;
}


@media screen and (max-width:480px) {
    .Login {
        height:50vh;
    }
    
    .login-container{
        width: 80vw
    }

    .login-title {
        display: none;
    }

}

@media screen and (min-width: 481px) and (max-width:1279px) {
    .Login {
        height:50vh;
    }
    
    .login-container{
        width: 80vw
    }
}