  .back-to-top {
    bottom:18vh;
    background: transparent;
    border: 0;
    position: fixed;
    right: 2%;
    z-index:1;
}

.back-to-top img{
    background: transparent;
    width:50px;
    height:auto;
    cursor: pointer;
}
 