.home-content-container {
    display: flex;
    justify-content: space-evenly;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(var(--width)*2);
}

.animate__tada {
    width: 40%;
    align-self: center;
}