.GenerateCard {
    background: -moz-linear-gradient(-55deg, var(--main-color-2) 50%, var(--main-color-2) 71%, #FFA2A5 100%);
    background: -webkit-linear-gradient(-55deg, var(--main-color-2) 50%, var(--main-color-2) 71%, #FFA2A5 100%);
    background: linear-gradient(155deg, var(--main-color-2) 50%, var(--main-color-2) 71%, #FFA2A5 100%);
    border-bottom: var(--border-top);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: rgb(48, 48, 48);
    display: flex;
    font-size: 13px;
    font-weight: 700;
    flex-wrap: wrap;
    height: 340px;
    margin: 20px 0px;
    overflow: hidden;
    width: var(--width);
}

.flex-cards-visual {
    background-position: bottom;
    background-size: cover;
    display: flex;
    overflow: hidden;
    width: 30%;
    height: 75%;
}

.card-visual-row {
    align-items: center;
    align-self: flex-end;
    background-color: var(--main-color-2);
    border-top: var(--border-top);
    display: flex;
    height: 60px;
    justify-content: space-evenly;
    width: 100%;
}

.card-visual-row img {
    height: 42px;
}

.material-icons i {
    margin-right: 5px;
}

.flex-cards-description {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 60%;
    line-height: 3em;
}

.card-title {
    font-size: large;
    margin: var(--padding-margins) 0px;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.devtype-stylized {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.devtype-stylized li {
    background: var(--main-color-3);
    color: var(--main-color-2);
    list-style: none;
    padding: calc(var(--padding-margins)/3);
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.asset-link {
    background: var(--background-gradient);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--main-color-2);
    padding: 10px var(--padding-margins);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (max-width: 760px) {
    .GenerateCard {
        height: 420px;
    }

    .flex-cards-visual {
        height: 85%;
    }

    .card-title {
        white-space: normal;
    }

    .card-visual-row {
        height: 60px;
    }

}
