.GetCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: 0.5s ease all;
    width: calc(var(--width)*2.5);
}

@media screen and (max-width: 1080px) {
    .GetCards {
        flex-direction: column;
    }
}