.Deposit {
    height: 400px;
}

.Deposit h1, .Deposit h2, .Deposit img {
    margin-bottom: 20px;
}

.Deposit img {
    margin-top: 50px;
    width: 300px;
}

.animateanimated.animate__zoomIn {
        --animate-duration: 15s;
}

@media screen and (max-width: 480px)
{
    .Deposit {
        transform: scale(1.3);
        justify-content: center;
        padding:0;
    }
    
    .Deposit h1 {
        margin-top : 150px;
    }

    .Deposit h1, .Deposit h2 {
        /* transform: scale(0.5); */
        font-size: 20px;
    }
    
    .Deposit img {
        margin-top: 1px;
        transform: scale(0.5);
    }
}

@media screen and (min-width: 481px) and (max-width: 1279px)
{
    .Deposit {
        /* transform: scale(0.8); */
        justify-content: center;
        font-size: 30px;
        margin-top: 50px;
    }
}