/* .Deposit {
    height: 400px;
}

.Deposit h1, .Deposit h2, .Deposit img {
    margin-bottom: 20px;
}

.Deposit img {
    margin-top: 50px;
    width: 300px;
}

.animateanimated.animate__zoomIn {
        --animate-duration: 15s;
} */

@media screen and (max-width: 480px)
{
    .Deposit {
        height: 400px;
        margin-right: 0px;
        justify-content: center;
    }
    
    .Deposit h1, .Deposit h2, .Deposit img {
        margin-bottom: 20px;
        font-size:20px;
    }
    
    .Deposit img {
        margin-top: 50px;
        width: 200px;
    }
    
    .animateanimated.animate__zoomIn {
            --animate-duration: 15s;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px)
{
    .Deposit {
        height: 400px;
    }
    
    .Deposit h1, .Deposit h2, .Deposit img {
        margin-bottom: 20px;
    }
    
    .Deposit img {
        margin-top: 50px;
        width: 300px;
    }
    
    .animateanimated.animate__zoomIn {
            --animate-duration: 15s;
    }
}

@media screen and (min-width: 769px) and (max-width: 1279px)
{
    .Deposit {
        height: 400px;
    }
    
    .Deposit h1, .Deposit h2, .Deposit img {
        margin-bottom: 20px;
    }
    
    .Deposit img {
        margin-top: 50px;
        width: 300px;
    }
    
    .animateanimated.animate__zoomIn {
            --animate-duration: 15s;
    }
}

@media screen and (min-width: 1280px)
{
    .Deposit {
        height: 400px;
    }
    
    .Deposit h1, .Deposit h2, .Deposit img {
        margin-bottom: 20px;
    }
    
    .Deposit img {
        margin-top: 50px;
        width: 300px;
    }
    
    .animateanimated.animate__zoomIn {
            --animate-duration: 15s;
    }
}