.Home {
    display: flex;
    justify-content: space-evenly;
    margin: var(--padding-margins) 0px;
    height: 60vh;
}

.home-content {
    width: var(--width);
    margin: 0px -10vw;
}

.home-img {
    width: 25vw;
    height: auto;
}