.Searchbar {
  height: 100%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;

}

.searchbar-element {
  background-color: var(--main-color-1);
  border-radius: var(--border-radius);
}

.searchbar-field {
  display: table;
}

.searchbar-input, .searchbar-logo {
  display: table-cell;
  vertical-align: middle; 
 
}

.searchbar-input input,
.searchbar-logo button {
  color: var(--main-color-2);
  padding: 0;
  margin: 0;
  border: 0 hidden;
  background-color: transparent;
}

.searchbar-input input {
  font-size: 70%;
  height:45px;
  width: 85%;
}

.searchbar-input input::placeholder {
  color: var(--main-color-2);
  outline: none;
}

.searchbar-input input:focus::placeholder {
  color: transparent;
  outline: none;
}

.clear-button {
  margin: 15px 0px 0px 0px;
}

.clear-button button {
  color: var(--main-color-2);
  display: flex;
  justify-self: center;
  
  cursor: pointer;
}

#s-cover {
  width: 1px;
}

.searchbar-logo button {
  cursor: pointer;
  transform: scale(0.4);
  position: relative;
  right: 0%;
}

#s-circle {
  width: 20px;
  height: 20px;
  border-width: 15px;
  border: 15px solid var(--main-color-2);
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

.searchbar-logo span {
  position: absolute;
  top: 44px;
  left: 22px;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

.searchbar-logo span:before,
.searchbar-logo span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 15px;
  background-color: var(--main-color-2);
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
  width: 67px;
  height: -50%;
  border-width: 0;
  background-color: var(--main-color-2);
  border-radius: 20px;
}

#s-cover:hover span {
  top: 50%;
  left: 56px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#s-cover:hover span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#s-cover:hover span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}

#s-cover:hover span:before,
#s-cover:hover span:after {
  right: -6px;
  width: 40px;
  background-color: var(--main-color-2);
}

.pop-up {
  background-color: rgba(62, 62, 62, 0.5);
  height: 200vh;
  margin: -20vh -60vw;
  position: absolute;
  width: 200vw;
  z-index: 4;
}

.pop-up-results {
  display: flex;
  justify-content: center;
  background-attachment:scroll;
  background-image: url(/src/assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: calc(var(--border-radius)/2);
  box-shadow: var(--box-shadow);
  margin: 15vw 25vw;
  padding: 42px 0px;
  position: absolute;
  width: 80vw;
  z-index: 5;
}

.clear-button-pop-up button {
  color: var(--main-color-3);
  cursor: pointer;
  font-size: larger;
  justify-self: center;
  margin-top: 40px;
  transform: scale(2.5);
}