.Navbar {
    background: var(--background-gradient);
    display: flex;
    font-size: xx-large;
    justify-content: space-around;
    border-top: 7px solid var(--main-color-1);
    margin-bottom: 42px;
}

.navbar-logo {
    width: 8vw;
    height: auto;
    position: relative;
    top: 0%;
    left: 0%;
}

.navbar-logo-title {
    align-items: center;
    display: flex;
}

.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none; 
    color: var(--main-color-1);
    height: 100%;
}

.searchbar-component {
    align-self: center;
    width: 30%;
}

.searchbar {
    margin : 0px 40px;
}

.navigation {
    display: flex;
    height: 60px;
}

.navigation-link {
    align-items: center;
    background-position: right bottom;
    -webkit-border-radius: 0px 0px 30px 30px;
    -moz-border-radius: 0px 0px 30px 30px;
    border-radius: 0px 0px 30px 30px;;
    border-bottom: 8px solid var(--main-color-1);
    color: var(--main-color-3);
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 10vh;
    transition: all 0.5s ease-in-out;
}

.selected, .navigation-link {
    background: linear-gradient(to right, var(--main-color-1) 50%, transparent 0%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}
  
.selected, .navigation-link:hover {
    background-position: left bottom;
    border-bottom: 8px solid var(--darken-main-color-1);
    color: var(--main-color-2);
}

@media screen and (max-width: 480px) {
    .Navbar {
        background: var(--background-gradient);
        display: flex;
        font-size: xx-large;
        justify-content: space-around;
        border-top: 7px solid var(--main-color-1);
        margin-bottom: 42px;
        margin-top: 0;
    }

    .Navbar img {
        height: 18vw;
        width: 18vw;
        position: relative;
        top: 0%;
        left: -50%;
        margin-bottom: 100px;
    }
    
    .navbar-logo-title {
        align-items: center;
        display: flex;
    }
    
    .title-container{
        display: none;
    }
    
    .searchbar-component {
        align-self: center;
        width: 150%;
        margin-top:50px;
        position:absolute;
    }
    
    .searchbar {
        margin : 0px 40px;
    }
    
    .navigation {
        display: flex;
        position:relative;
        height: 50px;
        right: -10%;
    }
    
    .navigation-link {
        align-items: center;
        background-position: right bottom;
        -webkit-border-radius: 0px 0px 30px 30px;
        -moz-border-radius: 0px 0px 30px 30px;
        border-radius: 0px 0px 30px 30px;;
        border-bottom: 8px solid var(--main-color-1);
        color: var(--main-color-3);
        display: flex;
        justify-content: center;
        text-decoration: none;
        width: 6vh;
        transition: all 0.5s ease-in-out;
    }
}

@media screen and (min-width: 481px) and (max-width: 1279px)
{
    .Navbar {
        background: var(--background-gradient);
        display: flex;
        font-size: xx-large;
        justify-content: space-around;
        border-top: 7px solid var(--main-color-1);
        margin-bottom: 42px;
    }
    
    .Navbar img {
        height: 10vw;
        width: 10vw;
        position: relative;
        top: 0%;
        left: -50%;
        margin-bottom: 100px;
    }
        
    .title-container{
        /* display: flex; */
        justify-content: center;
        align-items: center;
        text-decoration: none; 
        color: var(--main-color-1);
        height: 10%;
        position: relative;
        top:-37%;
        left:-5%;
    }
    
    .searchbar-component {
        align-self: center;
        width: 50%;
        margin-top:50px;
        position:absolute;
    }
    
    .searchbar {
        margin : 0px 40px;
    }
    
    .navigation {
        display: flex;
        position:relative;
        height: 50px;
        right: 0%;
    }
    
    .navigation-link {
        align-items: center;
        background-position: right bottom;
        -webkit-border-radius: 0px 0px 30px 30px;
        -moz-border-radius: 0px 0px 30px 30px;
        border-radius: 0px 0px 30px 30px;;
        border-bottom: 8px solid var(--main-color-1);
        color: var(--main-color-3);
        display: flex;
        justify-content: center;
        text-decoration: none;
        width: 10vh;
        transition: all 0.5s ease-in-out;
    }
}