.Footer {
  background-color: #F16362;
  text-align: center;
  padding: 10px 0px 30px 0px;
  color: rgb(228, 228, 228);
  height: 200px;
  position: relative;
  bottom: 0vh;
}

.contact{
  text-align: center;
}

.container-personel {
  display: flex;
  justify-content: center;

}

.personel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 10px 30px;
}

.icon-personel {
  display: flex;
  justify-content: space-evenly;
}

.icon-personel a {
  margin: 0px 10px 0px 0px;
  text-decoration: none;
  color: rgb(228, 228, 228);
  font-size: 30px;
}

.footer-logo img {
  height: auto;
  width: 50%;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.315))
}

.footer-logo {
  width: 15vw;
  height: 15%;
  position: absolute;
  left: 10%;
  top: 10%;
}

@media screen and (max-width:600px) {
  .container-personel {
    flex-wrap: wrap;
  }

  .logo {
    width: 40vw;
    height: 15vh;
  }

  .logo img {
    position: absolute;
    left: 5Px;
    top: 220px;
  }
}

@media screen and (min-width:501px) and (max-width:600px) {
  .container-personel {
    margin: 45px;
  }
}