@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
    --background-gradient : linear-gradient(var(--main-color-1) 0%,  var(--darken-main-color-1) 100%);;
    --border-radius: 1em;
    --border-top: 3px solid var(--main-color-1);
    --box-shadow: 0 2px 3px rgba(0, 0, 0, 0.315);
    --main-color-1: rgb(241, 99, 98);
    --darken-main-color-1: rgb(199, 82, 82);
    --main-color-2: rgb(228, 228, 228);
    --padding-margins: 20px;
    --width: 35vw;
}
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: var(--padding-margins);
}

.GenerateCard {
    background: -moz-linear-gradient(-55deg, var(--main-color-2) 0%, var(--main-color-2) 71%, #FFA2A5 100%);
    background: -webkit-linear-gradient(-55deg, var(--main-color-2) 0%, var(--main-color-2)71%, #FFA2A5 100%);
    background: linear-gradient(155deg, var(--main-color-2) 0%, var(--main-color-2) 71%, #FFA2A5 100%);
    border-bottom: var(--border-top);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: rgb(48, 48, 48);
    display: flex;
    font-size: 13px;
    font-weight: 700;
    flex-wrap: wrap;
    height: 340px;
    margin: 20px 0px;
    overflow: hidden;
    width: var(--width);
}

.flex-cards-visual {
    background-position: bottom;
    background-size: cover;
    display: flex;
    overflow: hidden;
    width: 30%;
    height: 75%;
}

.card-visual-row {
    align-items: center;
    align-self: flex-end;
    background-color: var(--main-color-2);
    border-top: var(--border-top);
    display: flex;
    height: 60px;
    justify-content: space-evenly;
    width: 100%;
}

.card-visual-row img {
    height: auto;
    width: 30px;
}

i {
    margin-right: 5px;
}

span {
    align-items: flex-end;
    display: flex;
    margin:
        10px 5px;
}

.flex-cards-description {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 60%;
}

.card-title {
    font-size: large;
    margin: var(--padding-margins) 0px;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.devtype-stylized {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.devtype-stylized li {
    background: var(--main-color-3);
    color: var(--main-color-2);
    list-style: none;
    padding: calc(var(--padding-margins)/3);
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

p {
    line-height: 2em;
}

.asset-link {
    background: var(--background-gradient);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--main-color-2);
    padding: 10px var(--padding-margins);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (max-width: 760px) {
    .GenerateCard {
        height: 420px;
    }

    .flex-cards-visual {
        height: 85%;
    }

    .card-title {
        white-space: normal;
    }

    .card-visual-row {
        height: 60px;
    }

}
