.AssetsFilter {
    display: flex;
    flex-direction: column;
    transition: 1s ease-in-out all;
    width: 100vw;
    margin-top: 80px;
    margin-bottom: 80px;
}

.filter-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.filter-results {
    margin-top: 80px;
}

.animate__animated {
    margin-left: auto;
    margin-right: auto;
}

.filters-box-main, .filters-box {
    background: var(--background-gradient);
    border-radius: calc(var(--border-radius)/2);
    width: 400px;
}

.filters-box-main p {
    margin-bottom: 20px;
}

.buttons-stylized {    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.buttons-stylized button {
    background: var(--main-color-3);
    border: 0;
    border-radius: var(--border-radius);
    color: var(--main-color-2);
    margin: calc(var(--padding-margins)/3);
    padding: 10px var(--padding-margins);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
    cursor: pointer;
}

.display-cards-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: calc(var(--width)*2.3);
}

.display-cards-title {
    display: flex;
    align-items: center;
}

.results-cards-cat {
    width: 200px;
}

.animate__animated.animate__fadeInRight {
    animation-delay: 0.1s;
}

.animate__animated.animate__bounce {
    animation-duration: 5s;
}