.form-container{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
}

.LoginCard input-line {
    display: flex;
    align-items: center;
    margin-bottom: 200px;
}

.colored-icons {
    color: var(--main-color-3);
}

.LoginCard input-line:focus {
    background-color: var(--main-color-2);
}