.form-container{
    display: flex;
    flex-direction: column;
    height: 200px;
    margin-bottom: 10px;
}


.SignUpCard input {
    background-color: var(--background-gradient);
}

.SignUpCard input:focus {
    background-color: var(--main-color-2);
}