.Slider {
    width: 80%;
}

.slider-container {
    height: 300px;
    position: relative;
    overflow: hidden;
    top: 30px;
    width: var(--widths);
}

.active {
    display: inline-block;
}

.inactive {
    display: none;
}

.slides {
    height: var(--heights);
    width: var(--widths);
    position: relative;
}

.slide-image {
    border: 6px solid var(--main-color-3);
    border-radius: var(--border-radius);
    height: 60%;
    width: 98%;
    object-fit: cover;
}

.text {
    margin-bottom: 20px;
}

.slide-text {
    top: 65%;
    font-size: 2rem;
}

.prev {
    left: -1rem;
}

.prev,
.next {
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2rem 2.5rem;
    margin-top: -5rem;
    font-size: 40px;
    font-weight: bold;
    border-radius: 0px 5px 5px 0px;
}

.prev:hover,
.next:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease-in;
}

.next {
    right: -17px;
    border-radius: 5px 0px 0px 5px;
}