@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
    --background-gradient : linear-gradient(
        rgba(241, 99, 98, 0.3),
        rgba(241, 99, 98, 0));
    --border-radius: 2em;
    --border-top: 3px solid var(--main-color-1);
    --box-shadow: 0 2px 3px rgba(96, 26, 26, 0.315);
    --heights: 50vh;
    --main-color-1: rgba(241, 99, 98, 1);
    --darken-main-color-1: rgba(199, 82, 82, 1);
    --main-color-2: rgba(255, 255, 255, 1);
    --main-color-3: rgba(51, 44, 63, 1);
    --padding-margins: 20px;
    --width: 30vw;
    --widths: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-attachment: fixed;
    background-image: url(/src/assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: 200vh;
    text-align: center;
}

h1, h2 {
    background: linear-gradient(to bottom, var(--main-color-1) 0%, var(--darken-main-color-1) 100%);
    background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: xx-large;
    font-weight: 1000;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h3 {
    font-size: larger;
    font-weight: 700;
    text-transform: uppercase;
}

button {
    background: none;
    border: 0;
}

input {
    outline: none;
}